/**
* Layout styles
*/

.portfolio_item {
	left: right;
    margin: 0 0 20px 0;
    box-shadow:1px 2px 2px #eaeaea;
    border:1px solid #eaeaea;
	width: 45%;
	margin: 20px;
	float: left;
}

.portfolio_item h2 {
    font-size: 24px;
    margin: 20px 0 20px 0;
    text-align: left;
    font-weight:bold;
}

.portfolio_item h2 a {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.portfolio_item .role_wrapper {
    border-bottom: 1px dotted #ccc;
    position: relative;
}

.portfolio_item .role_title {
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    color: #880E4F;
    line-height: 24px;
    text-align: left;
}

.portfolio_item span.role_skills {
    font-size: 18px;
    color: #a6a6a6;
}

.portfolio_item .buffer {
	height: 250px;
}

.portfolio_item .row_info {
	background: #fff;
	padding: 10px 20px 20px 20px;
}

/**
* Individual
*/

.bluetoad {
	background:#fff url(assets/bluetoad-logo.png) 50% 25% no-repeat;
}

.infinitycon {
	background:#fff url(assets/infinitycon.png) top no-repeat;
	background-size: cover;
}

.the11thhour {
	background:#fff url(assets/11thhourlogo.png) 50% 10% no-repeat;
}

.nasa {
	background:#fff url(assets/nasa-image.png) 50% 70% no-repeat;
}

.flickr {
	background:#fff url(assets/flickr-search.png) right top no-repeat;
}

.tothestars {
	background:#fff url(assets/tothestars.png) 50% 100% no-repeat;
}
